@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900');

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-weight: 700 !important;
}

h4, h5 {
    font-weight: 500 !important;
}

h3 {
    line-height: 2.5;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}


//header section

.big-header {
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    padding: 15%;
}

// immobili venduti

.immobili-venduti {
    width: 100%;
}

//team section

.team-title {
    padding: 5% 10%;
}

.grey {
    background-color: #b0b0b0;
}

.team-row {
    padding: 5rem 0;
}

.team-picture {
    border-radius: 100%;
    width: auto;
    max-width: 40%
}

// Small devices (mobile, 576px and)
@media (max-width: 576px) {
    p {
        font-size: 1.2rem;
    } 

    .big-header h1, h2, h3, h4, h2 {
        font-size: 2rem !important;
    };

    h5 {
        font-size: 1.5rem;
    }

    .cta {
        padding: 2rem;
    }

    .team-picture {
        max-width: 65% !important;
    }
    .team-row {
        padding: 2rem 0;
    }

    .team-title {
        margin-top: -2.5rem;
    }
}

@media (min-width: 576px) {
    .cta {
        padding: 10rem;
    }
    
    .cta-text {
        line-height: 1.5;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) { 
    .cta {
        padding: 3rem;
    }
    .cta-text {
        line-height: 1.4;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1800px) {
    .team-picture {
        max-width: 50% !important;
    }
}